doctype
html 
  head    
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet' href='/main.css')
  body
    .container
      .profile-wrap
        .profile 
          if user && user.id
            .user-name= '안녕하세요!' + user.nickname + '님!'
            .half 
              div 팔로잉 
            .half 
              div 팔로워 
            info#my-id(type='hidden' value=user.id)
            a#my-profile.btn(href='/profile') 내 프로필
            a#logout.btn(href='/auth/login' method='post') 로그아웃 
          else 
            form#login-form(action='/auth/login' method='post')
              .input-group 
                label(for='email') 이메일 
                input#email(type='email' name='email' required autofocus)
              .input-group
                label(for='password') 패스워드
                input#email(type='password' name='password' required autofocus)
              if loginError
                .error-message= loginError
              a#join.btn(href='/join') 회원가입
              button#login.btn(type='submit') 로그인
              a#kakao.btn(href='/auth/kakao') 카카오톡
